<div class="breakpoint">

  <div class="info">
    <div class="breakpoint-id">
      <i class="fa fa-desktop"></i> {{ form.id }}
    </div>

    <div class="settings">
      {{ form.width }}

      {{ form.type }}

      {{ form.columns }}

      {{ form.inner_gutters }}

      {{ form.outer_gutters }}

      {{ form.media_query }}
    </div>

  </div>

  <div class="preview-wrapper">
    <div class="preview">
      <div class="outer_gutter"></div>
      <div class="content"></div>
      <div class="outer_gutter"></div>
    </div>
  </div>

</div>
